body {
  color: azure;
  background-color: black;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: red;
}

h2 {
  color: red;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
